{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "globals": {
    "__DEV__": true,
    "__BROWSER__": false
  },
  "rules": {
    "spaced-comment": ["error", "always", { "exceptions": ["#__PURE__"] }]
  },
  "overrides": [
    {
      "files": [
        "examples/**"
      ],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
